.subtabs-nav{
    padding: 30px 0 15px;
    &__item {
        margin-right: 4px;
        margin-bottom: 8px;
        padding: 6px 10px;
        background: white;
        border: 1px solid #cdcdcd;
        border-radius: 6px;
        font-size: 16px;
    }
}

.subtabs-nav__item.is-active {
    background-color: #f9d953;
    border:1px solid #f9d953;
}

.tab {
    display: none;
}
.tab.is-active {
    display: block;
}